@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Approved!</h1>
<p class="lead">Welcome to Withings Api App. Making it easier for you to access Withings data. </p>
<p><a href="http://localhost:49932/Withings/GetWithingsClient" class="btn btn-primary btn-lg">Lets See your data &raquo;</a></p>



