@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>Approved!</h1>
    <p class="lead">You have now allowed this site to access your Withings information.</p>
    <p><a href="http://localhost:49932/Withings/GetWithingsClient" class="btn btn-primary btn-lg">Lets see your data &raquo;</a></p>
</div>


