
@{
    ViewBag.Title = "Authorize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Authorize</h2>
<h1>Withings API Connect</h1>
<p class="lead">Welcome to Withings Api App. Making it easier for you to access Withings data. </p>
<p><a href="http://localhost:49932/Withings/CallBack" class="btn btn-primary btn-lg">Get Request Token &raquo;</a></p>

