
@{
    ViewBag.Title = "Authorize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Withings API Connect</h1>
    <p class="lead"> Follow the steps to get your Withigng information back.</p>
    <p><a href="http://localhost:49932/Withings/CallBack" class="btn btn-primary btn-lg">Get Request Token &raquo;</a></p>
</div>

