
@{
    ViewBag.Title = "CallBack";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CallBack</h2>
<h1>Withings API Connect</h1>
<p class="lead">Welcome to Withings Api App. Making it easier for you to access Withings data. </p>
<p><a href="@ViewBag.RedirectUrl" class="btn btn-primary btn-lg">Connect to Withings &raquo;</a></p>
<h3> @ViewBag.displayRequest</h3>
