
@{
    ViewBag.Title = "CallBack";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1>Withings API Connect</h1>
    <p class="lead">Welcome to Withings Api App. Making it easier for you to access Withings data. </p>
    <p><a href="@ViewBag.RedirectUrl" class="btn btn-primary btn-lg">Connect to Withings &raquo;</a></p>
</div>
<h3>Request Key: @ViewBag.displayRequest.Key</h3>
<h3>Request Secret: @ViewBag.displayRequest.Secret</h3>