
@{
    ViewBag.Title = "GetWithingsBodyMeas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Get Withings Body Measure</h2>
<div>
    <p>Attribute: @ViewBag.ResponseData[0]</p>
  
  
</div>



